{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": "error",
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
