.button {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 28px;
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  gap: 18px;
  line-height: 130%;

  &:hover {
    opacity: .7;
  }

  &:disabled {
    opacity: 1;
  }

  .loader > div {
    border-color: var(--light-color);
    border-bottom-color: transparent;
  }
}

.button_disabled {
  background: var(--gray-color);
}

.button_load {
  padding: 15px 22px 15px 19px
}
