@use 'src/shared/styles/index' as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include mobile {
    padding-top: 50px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 100px;
    padding-bottom: 79px;
  }
}

.title {
  @include heading1;
  margin-bottom: 20px;
}

.description {
  @include paragraph3;
  max-width: 600px;
  color: var(--secondary-color);

  @include mobile {
    line-height: 25px;
  }
}
