@mixin center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-Y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-X {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
