@use '@styles' as *;

@mixin active_link {
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.root {
  border-bottom: 1.5px solid var(--light-grey);

  @include mobile {
    height: 72px;
  }

  @include desktop {
    height: 120px;
  }
}

.navigation_wrapper {
  @include container;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu_icon_wrapper {
  @include desktop {
    display: none;
  }
}

.user_bag_icon_wrapper {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
    gap: 24px;
  }
}

.icon {
  cursor: pointer;
}

.nav {
  height: 100%;
}

.links {
  height: 100%;

  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
    gap: 60px;
  }
}

.link {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  list-style-type: none;

  &:hover {
    @include active_link;
  }
  &.active {
    @include active_link;
  }
}
