@import 'theme/breakpoints';
@import 'theme/colors';
@import 'theme/fonts';
@import 'theme/effects';
@import 'theme/mixins';
@import 'theme/center';

$desktop-padding: 30px;
$mobile-padding: 24px;

@mixin container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

  padding-left: $desktop-padding;
  padding-right: $desktop-padding;

  @include mobile {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}
