@use 'index' as *;

html,
body {
  padding: 0;
  margin: 0;
  @include text-regular;
  line-height: 180%;
  font-family: 'Eudoxus Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
