@import 'theme/breakpoints';

@import 'theme/colors';

@import 'theme/fonts';

@import 'theme/effects';

@import 'theme/mixins';

@import 'theme/center';

$desktop-padding: 30px;
$mobile-padding: 24px;

@mixin container {
  width: 100%;
  max-width: 1240px;
  padding-right: $desktop-padding;
  padding-left: $desktop-padding;
  margin: 0 auto;

  @include mobile {
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
}
