@use 'src/styles' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
  margin-bottom: 36px;
  @include desktop {
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 48px;
  }

  &_arrow {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 4px 2px;
    @include desktop {
      padding: 5px 3px;
    }

    &:disabled svg {
      stroke: var(--secondary-color);
    }
  }

  &_button {
    color: var(--dark-color);
    @include font-size(14px, 1.3);
    font-weight: $fw-medium;
    background: var(--light-color);
    padding: 7px 13px;
    border: 1.5px solid var(--light-grey);
    cursor: pointer;
    @include desktop {
      @include font-size(18px);
    }

    &__active {
      background: var(--primary-color);
      color: var(--light-color);
      border: 1.5px solid transparent;

    }
  }
}

.page_buttons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  @include desktop {
    width: 32px;
    height: 32px;
  }
  stroke: var(--dark-color);

  &_right {
    transform: rotateZ(180deg);
  }
}
