@use '@styles' as *;

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  height: calc(88.5vw * 327 / 375);
  max-height: 600px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;

  @media (min-width: 768px) and (max-width: 1200px) {
    width: 50vw;
    height: 50vw;
  }

  &_arrow {
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 50%;
    background: var(--dark-color);
    cursor: pointer;

    @include shadow-small;

    @include center-Y;

    @include desktop {
      padding: 16px;
    }

    &:active {
      opacity: .7;
    }

    &__left {
      left: 16px;
    }

    &__right {
      right: 16px;
    }
  }
}

.arrow_right {
  transform: rotateZ(180deg);
}

.icon {
  width: 18px;
  height: 18px;

  @include desktop {
    width: 30px;
    height: 30px;
  }
}
