@import 'fonts';
@import "breakpoints";

@mixin heading1 {
  font-weight: $fw-bold;
  font-size: 64px;

  @include mobile {
    font-size: 24px;
  }
}

@mixin heading2 {
  font-weight: $fw-bold;
  font-size: 44px;

  @include mobile {
    font-size: 20px;
  }
}

@mixin heading3 {
  font-weight: $fw-bold;
  font-size: 26px;
}

@mixin heading5 {
  font-weight: $fw-bold;
  font-size: 18px;
   @include mobile {
    font-size: 14px;
  }
}

@mixin paragraph3 {
  font-weight: $fw-medium;
  font-size: 18px;
  @include mobile {
    font-size: 14px;
  }
}

@mixin text-regular {
  font-weight: $fw-medium;
  font-size: 18px;
  color: var(--dark-color);
}
