.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #FFFFFF;
  background-color: white;
  box-shadow: 0 4px 120px #AFADB5;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  border: 1px solid #518581;
}

.checkbox:hover input:disabled ~ .checkmark {
  border: 1px solid white;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #FFFFFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
  background: url("./Check.svg") no-repeat 6px 4px;
}

.checkbox input:disabled ~ .checkmark:after {
  opacity: 0.7;
}


.checkbox .checkmark:after {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

